<head>
    <meta charset=""UTF-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/create_user" method="post">
        <div>
            <label for="">First Name</label>
            <input type="text" name="first_name">
        </div>
        <div>
            <label for="">Last Name</label>
            <input type="text" name="last_name">
        </div>
        <div>
            <label for="">Email</label>
            <input type="text" name="email">
        </div>
        <div>
            <label for="">Password</label>
            <input type="text" name="password">
        </div>
        <div>
            <label for="">Confirm Password</label>
            <input type="text" name="confirm_pw">
        </div>
        <div>
            <button>Submit</button>
        </div>
    </form>
</body>