<head>
    <meta charset=""UTF-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <title>Document</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
    <div class="navbar-header">
        <h1 class="header_main">Edit Song</h1>
    </div>
    <ul class="nav navbar-nav">
        <a class=button href="/home">Playlist</a>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <a class=button href="/logout">Logout</a>
    </ul>
    </div>
</nav>
<div class="container2">
    <form action="/update_song" method="post">
            <input type="hidden" name="song_id" value="{{song.id}}">
            <div>
                <label for="">Title: </label>
                <input type="text" name="title" value="{{song.title}}">
            </div>
            <div>
                <label for="">Artist: </label>
                <input type="text" name="artist" value="{{song.artist}}">
            </div>
            <div>
                <label for="">Album: </label>
                <input type="text" name="album" value="{{song.album}}">
            </div>
            <div>
                <label for="">Release Date: </label>
                <input type="text" name="release_date" value="{{song.release_date}}">
                </div>
            <div>
                <button>Update</button>
            </div>
    </form>
</div>

</body>