<head>
    <meta charset=""UTF-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <h1>Welcome {{user.first_name}}</h1>
</head>
<body>
    <h2>Playlist</h2>
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Artist</th>
            <th scope="col">Album</th>
            <th scope="col">Release Date</th>
            <th scope="col">Likes</th>
            <th scope="Action">Actions</th>
        </tr>
        </thead>
        <tbody>
            {% for song in all_songs %}
        <tr>
            <th scope="row">{{song.title}}</th>
            <td>{{song.artist}}</td>
            <td>{{song.album}}</td>
            <td>{{song.release_date}}</td>
            <td>{{song.num_likes}}</td>
            <td>
                {% if not song.is_liked %}
                    <a class="button" href="/like/{{song.id}}">Like</a>
                {% endif %}
                <a class="button" href="/show/{{song.id}}">Show</a>
                <a class="button" href="/edit/{{song.id}}">Edit</a>
                <a class="button" href="/delete/{{song.id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class=button href="/add_song">Add a Song!</a>
    <a class=button href="/logout">Logout</a>
</body>